header {
    border: 1px solid darkturquoise;
}

nav li{ 
    list-style-type: none;
    display:inline-block;
    padding: 8px 75px;
}

.disabled{
    color:grey;
}

#Sept{
    color:purple;
}
.active{
    color:yellow;
}

#red{
    color:red;
}

#red +h4{
    background-color:red;
}

#blue{
    color:blue;
}

#blue +h4{
    background-color:blue;
}

.grandparent > h4 {
    border: 1px solid black;
    border-radius: 30px;
}

.promo {
    font-weight: bold;
    color: gold;
}

footer input {
    height: 25px;
}